{% extends './layout.html' %}

{% block title %}
<title>{{__(title)}}</title>
{% endblock %}

{% block content %}
<h1 class="header-title">{{__(title)}}</h1>
<div class="bg-white rounded mb-3 p-3">
  <form action="{{_routes.password_change}}" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <input type="hidden" name="email" value="{{email}}">
    <input type="hidden" name="token" value="{{token}}">
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="{{__("New password")}}">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password2" placeholder="{{__("Confirm password")}}">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">{{__(title)}}</button>
    </div>
    {% if messages.error %}
    <div class="alert alert-warning">{{__(messages.error)}}</div>
    {% endif %}
  </form>
</div>
{% endblock %}