<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Auth Center Admin">
    {% if logo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{logo}}">
    {% endif %}
    <link rel="stylesheet" href="{{staticRoot}}/admin.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i class="glyphicon glyphicon-th-list"></i>
          </button>
          <a class="navbar-brand" href="/admin">
            <img src="{{logo}}" alt="AuthCenter">
            <span>AuthCenter</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="javascript:;" class="user-link" data-toggle="dropdown">
                <span class="ml10">{{user.email}}</span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{_routes.logout}}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{{navUsers}}"><a href="{{_routes.admin.users}}">Users</a></li>
            <li class="{{navClients}}"><a href="{{_routes.admin.clients}}">Clients</a></li>
            <li class="{{navRoles}}"><a href="{{_routes.admin.roles}}">Roles</a></li>
          </ul>
        </div>
        <div id="J_main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{{staticRoot}}/admin.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>