<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Auth Center Admin">
    {% if logo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{logo}}">
    {% endif %}
    <link rel="stylesheet" href="{{staticRoot}}/common.css">
    <link rel="stylesheet" href="{{staticRoot}}/admin.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-primary flex-md-nowrap py-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 d-flex align-items-center" href="/">
        <img src="{{logo}}" alt="AuthCenter">
        <h6 class="my-0 ml-2">AuthCenter</h6>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{user.email}}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{_routes.security}}">{{__("Security")}}</a>
              <a class="dropdown-item" href="{{_routes.logout}}">{{__("Logout")}}</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-2 col-md-3 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item ">
                <a class="nav-link {{navUsers}}" href="{{_routes.admin.users}}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{navClients}}" href="{{_routes.admin.clients}}">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{navRoles}}" href="{{_routes.admin.roles}}">Roles</a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="pt-3 pb-2 mb-3">
          {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>
    <script src="{{staticRoot}}/common.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>