{% extends './layout.html' %}
{% block head %}
<title>Users</title>
{% endblock %}

{% block content %}
{% if messages.success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{messages.success}}
</div>
{% endif %}
{% if messages.error %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{messages.error}}
</div>
{% endif %}
<div class="clearfix mb-3">
  <form action="?" class="form-inline" method="GET">
    <div class="form-group mr-sm-2">
      <input type="text" name="q" value="{{query}}" class="form-control" style="width: 200px;" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Key</th>
      <th>Updated At</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    {% if users.rows.length == 0 %}
      <tr>
        <td colspan="4" class="text-center">No data available in table</td>
      </tr>
    {% else %}
      {% for d in users.rows %}
      <tr>
        <td>{{d.email}}</td>
        <td>
        {% if d.totp_key %}
          <span class="text-success">Existed</span>
        {% else %}
          <span class="text-danger">None</span>
        {% endif %}
        </td>
        <td>
          {{d.updatedAt.toLocaleString('en-US', { hour12: false })}}
        </td>
        <td>
          <form action="{{_routes.admin.send_totp}}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf}}">
            <input type="hidden" name="id" value="{{d.id}}">
            <button class="btn btn-primary btn-sm" type="submit">Send TOTP</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
<nav class="text-center">
  {{pagination(page, total, link) | safe}}
</nav>
{% endblock %}
