{% extends './layout.html' %}

{% block title %}
<title>{{__("Change password")}}</title>
{% endblock %}

{% block content %}
<form action="{{_routes.password_change}}" method="POST">
  <input type="hidden" name="_csrf" value="{{_csrf}}">
  <div class="auth-form-header">
    <h1>{{__("Change password")}}</h1>
  </div>
  <div class="auth-form-body">
    <div class="input-wrap">
      <input type="password" placeholder="{{__("Password")}}">
    </div>
    <div class="input-wrap">
      <input type="password" placeholder="{{__("Confirm password")}}">
    </div>
    <div class="input-wrap">
      <button class="btn btn-primary btn-block">{{__("Change password")}}</button>
    </div>
  </div>
</form>
{% endblock %}