<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="description" content="Auth Center"/>
  <title>{{__("Home")}}</title>
  {% if favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{{favicon}}">
  {% endif %}
  <link rel="stylesheet" href="{{staticRoot}}/main.css">
</head>
<body class="main">
  <div class="navbar">
    <div class="container clearfix">
      <div class="navbar-brand">
        <img src="{{logo}}">
      </div>
      <div class="float-right">
        <span>{{user.email}}</span>
        <a href="/logout" class="btn btn-primary btn-sm">{{__("Logout")}}</a>
      </div>
    </div>
  </div>
  <div class="container clearfix">
    <div class="row clearfix">
      {% for c in clients -%}
      <div class="col">
        <a href="{{c.redirect_uri}}" class="app-item">
          <div class="app-icon" style="background: {{colors[loop.index0]}}">{{c.name|first}}</div>
          <div class="app-info">
            <div class="ellipsis name">{{c.name}}</div>
            <div class="ellipsis name-cn">{{c.name_cn}}</div>
          </div>
        </a>
      </div>
      {%- endfor %}
    </div>
  </div>
</body>
</html>