{% extends './layout.html' %}

{% block title %}
<title>{{__("Sign in to system")}}</title>
{% endblock %}

{% block content %}
<form action="{{_routes.session}}" method="POST">
  <input type="hidden" name="_csrf" value="{{_csrf}}">
  <div class="auth-form-header">
    <h1>{{__("Sign in to system")}}</h1>
  </div>
  <div class="auth-form-body">
    <div class="input-wrap">
      <input type="text" name="email" id="J_email" placeholder="{{__("Email")}}">
    </div>
    <div class="input-wrap">
      <input type="password" name="password" placeholder="{{__("Password")}}">
    </div>
    {% if isTOTP %}
    <div class="input-wrap">
      <div class="input-group">
        <input class="input-group-input" type="text" name="token" placeholder="{{__("Dynamic token")}}">
        <span class="input-group-btn">
          <button class="btn send-btn" type="button" id="J_send">{{__("Send")}}</button>
        </span>
      </div>
    </div>
    {% endif %}
    <div class="input-wrap">
      <button class="btn btn-primary btn-block">{{__("Sign In")}}</button>
    </div>
    {% if messages.error %}
    <div class="alert alert-danger">{{messages.error}}</div>
    {% endif %}
    {% if messages.success %}
    <div class="alert alert-success">{{messages.success}}</div>
    {% endif %}
    {% if isTOTP %}
    <div class="alert" style="display: none;" id="J_tips"></div>
    {% endif %}
  </div>
</form>
<div class="bottom-link">
  <a href="{{_routes.password_reset}}">{{__("Lost your password?")}}</a>
</div>
{% if isTOTP %}
<script src="/login.js"></script>
{% endif %}
{% endblock %}