<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="description" content="Auth Center"/>
  <title>{{__("Reset your password")}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="//7xjsgs.com1.z0.glb.clouddn.com/favicon.ico">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="header-logo">
    <img height="48" src="http://7xl0ai.com2.z0.glb.qiniucdn.com/oa-static/0.0.8/c/img/logo.png">
  </div>
  <div class="auth-form">
    <form action="#">
      <div class="auth-form-header">
        <h1>{{__("Reset your password")}}</h1>
      </div>
      <div class="auth-form-body">
        <div class="input-wrap text-muted">
          {{__("Enter your email address and we will send you a link to reset your password.")}}
        </div>
        <div class="input-wrap">
          <input type="text" placeholder="{{__("Enter your email address")}}">
        </div>
        <div class="input-wrap">
          <button class="btn btn-primary btn-block">{{__("Send Email")}}</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>