.header-logo {
  padding: 40px 0 20px;
  text-align: center;
}

.auth-form {
  width: 360px;
  margin: 0 auto;
}

.auth-form-header {
  margin-bottom: 15px;
  color: #333;
  text-align: center;

  h1 {
    font-size: 20px;
    font-weight: 300;
  }

}

.auth-form-body {
  border-top: 1px solid #d8dee2;
  padding: 20px;

  .send-btn {
    min-width: 100px;
  }
}

.bottom-link {
  text-align: center;
  margin-bottom: 35px;
}

.lang {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  span {
    margin: 0 8px;
    color: #888;
  }
}