body {
  background-color: #f9f9f9;
}
.header-logo {
  padding: 40px 0 20px;
  text-align: center;
}
.header-title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.auth-form {
  width: 360px;
  margin: 0 auto;
  .send-btn {
    min-width: 100px;
  }
  .qrcode-img {
    position: relative;
    width: 300px;
    height: 300px;
    .qrcode-error {
      background: hsla(0, 0%, 100%, .95);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      text-align: center;
      p {
        margin-top: 90px;
      }
    }
  }
}

@media (max-width: 360px) {
  .auth-form {
    width: 100%;
  }
}

.bottom-link {
  text-align: center;
}

.lang {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  span {
    margin: 0 8px;
    color: #888;
  }
}

@media (max-height: 610px) {
  .lang {
    position: relative;
  }
}
