html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
* {
  outline: none !important;
}
*, :after, :before {
  box-sizing: border-box;
}
.clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
a {
  color: #2db7f5;
  text-decoration: none;
  transition: color .3s ease;
}
a:hover {
  color: #149EDC;
}
.header-logo {
  padding: 40px 0 20px;
  text-align: center;
}
.auth-form {
  width: 320px;
  margin: 0 auto;
}
.auth-form-header {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}
.auth-form-header h1 {
  font-size: 20px;
  font-weight: 300;
}
.auth-form-body {
  border-top: 1px solid #d8dee2;
  padding: 20px;
  font-size: 14px;
}
.input-wrap {
  margin-bottom: 15px;
}
.input-wrap input {
  width: 100%;
  height: 42px;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border 300ms linear;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
}
.input-wrap input:focus {
  border-color: #0ac2ff;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 11px 13px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  user-select: none;
}
.btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #2db7f5;
}
.btn-primary:focus {
  color: #fff;
  background-color: #149EDC;
}
.btn-primary:active, .btn-primary:hover {
  color: #fff;
  background-color: #149EDC;
}
.btn-block {
  display: block;
  width: 100%;
}
