// Colors
$gray-600: #868e96;

$danger: #ff4d4f;
$light: #f5f5f5;
$text-muted: #9aa0ac;
$font-weight-bold: 500;

$dropdown-link-hover-bg: #eef2f5;

// Borders
// $border-color: #eee;
$border-radius: 3px;
$border-radius-lg: 3px;
$border-radius-sm: 3px;
$modal-content-border-width: 0;

// Inputs
$input-btn-focus-width: 2px;
$input-focus-border-color: #1991eb;

// Badges
$badge-font-weight: 400;
$badge-padding-x: .5em;
